<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Welcome!</h2>
    <p>We hope you find exactly what you're looking for in a place to stay.</p>
    {{#link-to "about" class="button"}}
        About
    {{/link-to}}
</div>

{{#each model as |rentalUnit|}}
    {{!-- 
        component name: site-header
            Classic invocation syntax:
                {{site-header user=this.user class=(if this.user.isAdmin "admin")}}

            Angle bracket invocation syntax:
                <SiteHeader @user={{this.user}} @class={{if this.user.isAdmin "admin"}} />
        HTML attributes
            Classic invocation syntax:
                {{#super-select selected=this.user.country as |s|}}
                    {{#each this.availableCountries as |country|}}
                        {{#s.option value=country}}{{country.name}}{{/s.option}}
                    {{/each}}
                {{/super-select}}
            Angle bracket invocation syntax:
                <SuperSelect @selected={{this.user.country}} as |s|>
                    {{#each this.availableCountries as |country|}}
                        <s.option @value={{country}}>{{country.name}}</s.option>
                    {{/each}}
                </SuperSelect>        
    --}}
    <RentalListing @rental={{rentalUnit}} />
{{/each}}

{{outlet}}